mrmap/registry/tests/test_data/wfs_feature_type/dwd_RBSN_T2m.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dwd="http://www.dwd.de" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://www.dwd.de">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://maps.dwd.de/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="RBSN_T2mType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="ID" nillable="false" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NAME" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TEMPERATURE" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="M_DATE" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="THE_GEOM" nillable="true" type="gml:GeometryPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="RBSN_T2m" substitutionGroup="gml:AbstractFeature" type="dwd:RBSN_T2mType"/>
</xsd:schema>